#happy {
    background-color: var(--bg-grey);
    padding-top: 100px;
}

#happy .container p {
    color: var(--grey);
    font-size: 18px;
    font-weight: 600;
}

#happy .container h1 {
    color: var(--light-blue);
    padding-bottom: 100px;
}

#happy .happy__content {
    display: grid;
    grid-auto-flow: column;
    justify-content: center;
    text-align: left;
    grid-gap: 20px;
}

#happy .img__happy {
    width: 70px;
    height: 70px;
    display: inline-block;
    overflow: hidden;
    background: var(--bg-grey);
    border-radius: 50%;
}


#happy .item p {
    font-weight: 400;
    position: relative;
    margin-bottom: 1.5em;
    font-size: 18px;
    line-height: 28px;
    color: var(--grey);
    opacity: .6;
}

#happy .item__content {
    padding-top: 5px;
}

#happy .item__content h4 {
    color: var(--light-blue);
    margin: 0;
}

#happy .item__content p {
    opacity: 0.8;
}

.happy__slick {
    display: block;
    position: relative;
    float: left;
}

#happy .happy__item {
    float: left;
}

#happy .item {
    display: block;
    padding: 40px 30px;
    position: relative;
    border: none;
    max-width: 900px;
    margin: auto;
    text-align: center;
}

#happy .owl-dots.disabled,
#happy .owl-nav.disabled {
    display: none;
}

#happy .owl-dots,
#happy .owl-nav {
    text-align: center;
}

#happy .owl-nav [class*=owl-] {
    color: #fff;
    font-size: 20px;
    margin: 0px;
    width: 46px;
    background: rgba(255, 255, 255, 0.21);
    display: inline-block;
    cursor: pointer;
    transition: 0.3s ease-in-out;
    height: 46px;
    line-height: 15px;
    border-radius: 50%;
}

#happy .slick-dots {
    list-style: none;
}

#happy .owl-dots .owl-dot.active span {
    transform: scale(1.5);
}

#happy .owl-dots .owl-dot span {
    width: 10px;
    height: 10px;
    margin: 5px 2px;
    background: #aaa;
    display: block;
    -webkit-backface-visibility: visible;
    transition: opacity .2s ease;
    position: relative;
    opacity: 0.9;
    border-radius: 8px;
    transition: all 0.3s;
}

#happy .owl-dots .owl-dot {
    display: inline-block;
    zoom: 1;
    background: transparent;
}

#happy .owl-nav button.owl-next,
#happy .owl-nav button.owl-prev,
#happy button.owl-dot {
    border: none;
    padding: 1px 6px;
}

#happy .owl-dots .owl-dot.active span,
#happy .owl-dots .owl-dot:hover span {
    background: #213364;
    opacity: 1;
    transform: scale(1.5);
}

#happy .owl-dots button:focus {
    outline: none;
    box-shadow: none;
}