/* Reset css */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* Global variables */
:root {
  --green: #009f4d;
  --navi: #213364;
  --grey: #666;
  --white: #fff;
  --light-blue: #3f3a64;
  --layer: rgba(29, 42, 55, 0.7);
  --bg-grey: #f7f7f7;
}