.theme {
    background-color: var(--navi);
    text-align: center;
    padding-top: 1.25rem;
    padding-bottom: 1.25rem;
}

.theme p {
    color: #999;
}

.theme a {
    color: var(--green);
    text-decoration: none;
}

.theme a:hover {
    color: white;
    transition: all 0.5s;
}